<html>
  <head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <title>Welcome to TweetFind</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
      <div class="center">
        <h2>TweetFind</h1>
        <!-- Simple Textfield -->
        <form action="/" method="get">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" name="q">
            <label class="mdl-textfield__label" for="sample1">Search</label>
          </div>
          <!-- Accent-colored raised button with ripple -->
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            TweetFind
          </button>
        </form>
            {% if error %}
                <h2>{{ error }}</h2>
            {% endif %}
       </div>
        {% block content %}{% endblock %}
    </body>
</html>
