{% extends "base.html" %}
{% block content %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">
      {% for result in results %}
        <div class="tweet" data-lat={{result.lat}} data-lng={{result.lng}}><p><b>{{ result.name }}</b>: {{ result.text }}</p></div>
      {% endfor %}
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet" id="map"></div>
      <script type="text/javascript">       
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
          });
        }
        $(function(){
          $(".tweet").on('click', function(){
            console.log("Tweet Clicked");
            var myLatLng = {lat: $(this).data('lat'), lng: $(this).data('lng')};
            console.log(myLatLng);
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
            }); 
            marker.setMap(map);
            map.setCenter(marker.getPosition());
          });
        });
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5WFwTN52TG-uB7jBg2Y3Iefc3hBLgGNU&callback=initMap">
      </script>
{% endblock %}